<div style="margin:1rem">
  <div style="width:100%;justify-content: center;display:flex;margin-bottom:2rem">
    <h1 class="title">Aufnahmeantrag</h1>
  </div>
  <div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
    <h2 class="title is-5">- Teilnehmer Informationen -</h2>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Teilnahmeart</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <label class="radio">
            <input type="radio" [value]="true" name="teilname" [(ngModel)]="input.teilnameart" />
            Aktive Teilnahme
          </label>
          <label class="radio">
            <input type="radio" [value]="false" name="teilname" [(ngModel)]="input.teilnameart" />
            Passive Teilnahme
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <label class="label">Berufstätig</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <label class="radio">
            <input type="radio" name="berufstaetig" [value]="true" [(ngModel)]="input.beruf" />
            Ja
          </label>
          <label class="radio">
            <input type="radio" name="berufstaetig" [value]="false" [(ngModel)]="input.beruf" />
            Nein
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Geschlecht*</label>
    </div>
    <div class="field-body">
      <div class="field is-narrow">
        <div class="control">
          <div class="select is-fullwidth">
            <select [(ngModel)]="input.geschlecht">
              <option>Divers</option>
              <option>Männlich</option>
              <option>Weiblich</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name*</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="text"
            [(ngModel)]="input.vorname"
            placeholder="Vorname"
            [class.is-danger]="input.vorname !== undefined && !input.vorname"
          />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="text"
            [(ngModel)]="input.nachname"
            [class.is-danger]="input.nachname !== undefined && !input.nachname"
            placeholder="Nachname"
          />
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Adresse*</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="text"
            [(ngModel)]="input.strasse"
            placeholder="Straße"
            [class.is-danger]="input.strasse !== undefined && !input.strasse"
          />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="text"
            [(ngModel)]="input.ort"
            placeholder="Ort"
            [class.is-danger]="input.ort !== undefined && !input.ort"
          />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="text"
            [(ngModel)]="input.plz"
            placeholder="PLZ"
            [class.is-danger]="input.plz !== undefined && !input.plz"
          />
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Geb. Datum*</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="number"
            [class.is-danger]="input.geb_tag !== undefined && !validDay(input.geb_tag)"
            [(ngModel)]="input.geb_tag"
            placeholder="Tag"
          />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="number"
            [class.is-danger]="input.geb_monat !== undefined && !validMonth(input.geb_monat)"
            [(ngModel)]="input.geb_monat"
            placeholder="Monat"
          />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="number"
            [class.is-danger]="input.geb_jahr !== undefined && input.geb_jahr < 0"
            [(ngModel)]="input.geb_jahr"
            placeholder="Jahr"
          />
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Telefon</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded ">
          <input class="input" type="tel" [(ngModel)]="input.privat_telefon" placeholder="Privat" />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input class="input" type="tel" [(ngModel)]="input.mobil" placeholder="Mobil" />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input class="input" type="tel" [(ngModel)]="input.telfax" placeholder="Telefax" />
        </p>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">E-Mail*</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input
            class="input"
            type="email"
            [class.is-danger]="input.email !== undefined && !validEmail(input.email)"
            [(ngModel)]="input.email"
            placeholder="xxx@email.de"
          />
        </p>
      </div>
    </div>
  </div>
  <div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
    <h2 class="title is-5">- Konto Informationen -</h2>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name*</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="text"
            [class.is-danger]="input.konto_vorname !== undefined && !input.konto_vorname"
            [(ngModel)]="input.konto_vorname"
            placeholder="Vorname"
          />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="text"
            [class.is-danger]="input.konto_nachname !== undefined && !input.konto_nachname"
            [(ngModel)]="input.konto_nachname"
            placeholder="Nachname"
          />
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Geb. Datum*</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="number"
            [class.is-danger]="input.konto_geb_tag !== undefined && !validDay(input.konto_geb_tag)"
            [(ngModel)]="input.konto_geb_tag"
            placeholder="Tag"
          />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="number"
            [class.is-danger]="input.konto_geb_monat !== undefined && !validMonth(input.konto_geb_monat)"
            [(ngModel)]="input.konto_geb_monat"
            placeholder="Monat"
          />
        </p>
      </div>
      <div class="field">
        <p class="control is-expanded ">
          <input
            class="input"
            type="number"
            [class.is-danger]="input.konto_geb_jahr !== undefined && input.konto_geb_jahr < 0"
            [(ngModel)]="input.konto_geb_jahr"
            placeholder="Jahr"
          />
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">IBAN*</label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded">
          <input
            class="input"
            [class.is-danger]="validIban != undefined && validIban == false"
            [class.is-success]="validIban != undefined && validIban == true"
            type="text"
            [(ngModel)]="input.iban"
            (change)="_validateIban()"
          />
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="input.teilnameart">
    <div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
      <h2 class="title is-5">- Sportart -</h2>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label"></label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control is-expanded ">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="input.type_karate" />
              Karate
            </label>
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded ">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="input.type_selbst" />
              Selbstverteidigung
            </label>
          </p>
        </div>
        <div class="field">
          <p class="control is-expanded ">
            <label class="checkbox">
              <input type="checkbox" [(ngModel)]="input.type_arnis" />
              Combat - Arnis
            </label>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
    <h2 class="title is-5">- Beitrag -</h2>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label"></label>
    </div>
    <div class="field-body">
      <div class="field">
        <div>
          <div>
            <strong>€ {{ calcMntl() }},-- monatlich</strong>
          </div>
          <div>
            <strong>€ {{ calcJhrl() }},-- jährlich</strong>
          </div>
          <div>
            <strong>€ 25,-- Aufnahmegebühr einmalig</strong>
          </div>
        </div>
        <!-- <p class="control is-expanded ">
        Bei 3 oder mehr aktiven Mitgliedern einer Familie ermäßigt sich der monatliche Beitrag. Damit wir eine
        individuelle Absprache mit Ihnen treffen können, merken Sie dies bitte an.
      </p> -->
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label"></label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded ">
          Bei 3 oder mehr aktiven Mitgliedern einer Familie ermäßigt sich der monatliche Beitrag. Damit wir eine
          individuelle Absprache mit Ihnen treffen können, merken Sie dies bitte an.
        </p>
      </div>
    </div>
  </div>
  <div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
    <h2 class="title is-5">- Anmerkungen -</h2>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label"></label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea class="textarea" [(ngModel)]="input.anmerkungen"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label"></label>
    </div>
    <div class="field-body">
      <div class="field">
        <p class="control is-expanded ">
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="agree" />
            Bestimmungsgemäß gezahlte Beiträge und Gebühren werden grundsätzlich nicht zurückerstattet. Reklamationen
            sind innerhalb von 6 Wochen zu tätigen. Mit Vorlage des Aufnahmeantrags wird die Vereinssatzung anerkannt.
            Bei <b>Kontoänderungen</b> informiere ich den Verein <b>sofort</b>. Hiermit versichere ich keine ernsten
            Erkrankungen zu haben. Mit der Veröffentlichung von Bildern für die Vereinsarbeit bin ich einverstanden.
            Hiermit ermächtige ich den 1. BZV e.V. zu Lasten meines Kontos bis auf Widerruf die Mitgliedsbeiträge,
            Gebühren für Verbände sowie die <b>einmalige Aufnahmegebühr in Höhe von EUR 25,--</b> von meinem Konto
            abzubuchen.
          </label>
        </p>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <button
            (click)="send()"
            [disabled]="!activeAndSelectedSport() || !agree || !checkMandatoryFields() ? 'true' : ''"
            class="button is-primary"
          >
            Send message
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" [class.is-active]="successOpen">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      Vielen Dank für Ihren Antrag. <br />
      Sie werden in Kürze eine Bestätigung per E-Mail erhalten, welche Sie bitte unterschrieben mitbringen, sobald Sie
      am ersten Trainingstag erscheinen.
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="successOpen = false">Schließen</button>
    </footer>
  </div>
</div>

<div class="modal" [class.is-active]="errorOpen">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      Irgendetwas is gerade schief gelaufen. <br />
      Bitte versuchen Sie es zu einem späteren Zeitpunkt erneut.
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="errorOpen = false">Schließen</button>
    </footer>
  </div>
</div>
