<div style="width:100%;justify-content: center;display:flex;margin-bottom:2rem;margin-top:1rem">
  <h1 class="title">Aufnahmeantrag</h1>
</div>
<div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
  <h2 class="title is-5">- Teilnehmer Informationen -</h2>
</div>
<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Teilnameart</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <label class="radio">
          <input type="radio" name="teilname" />
          Aktive Teilname
        </label>
        <label class="radio">
          <input type="radio" name="teilname" />
          Passive Teilname
        </label>
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label">
    <label class="label">Berufstätig</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <label class="radio">
          <input type="radio" name="berufstaetig" />
          Ja
        </label>
        <label class="radio">
          <input type="radio" name="berufstaetig" />
          Nein
        </label>
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Geschlecht</label>
  </div>
  <div class="field-body">
    <div class="field is-narrow">
      <div class="control">
        <div class="select is-fullwidth">
          <select>
            <option>Divers</option>
            <option>Männlich</option>
            <option>Weiblich</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Name</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Vorname" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Nachname" />
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Addresse</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Straße" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Ort" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="PLZ" />
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Geb. Datum</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Tag" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Monat" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Jahr" />
      </p>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Telefon</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="tel" placeholder="Privat" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="tel" placeholder="Mobil" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="tel" placeholder="Telefax" />
      </p>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Addresse</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded">
        <input class="input" type="email" placeholder="xxx@email.de" />
      </p>
    </div>
  </div>
</div>
<div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
  <h2 class="title is-5">- Konto Informationen -</h2>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Name</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Vorname" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Nachname" />
      </p>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">Geb. Datum</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Tag" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Monat" />
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <input class="input" type="text" placeholder="Jahr" />
      </p>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label">IBAN</label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded">
        <input
          class="input"
          [class.is-danger]="validIban != undefined && validIban == false"
          [class.is-success]="validIban != undefined && validIban == true"
          type="text"
          [(ngModel)]="iban"
          (change)="_validateIban()"
        />
      </p>
    </div>
  </div>
</div>
<div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
  <h2 class="title is-5">- Sportart -</h2>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label"></label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <label class="checkbox">
          <input type="checkbox" />
          Karate
        </label>
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <label class="checkbox">
          <input type="checkbox" />
          Selbstverteidigung
        </label>
      </p>
    </div>
    <div class="field">
      <p class="control is-expanded ">
        <label class="checkbox">
          <input type="checkbox" />
          Combat - Arnis
        </label>
      </p>
    </div>
  </div>
</div>
<div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
  <h2 class="title is-5">- Beitrag -</h2>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label"></label>
  </div>
  <div class="field-body">
    <div class="field">
      <div>
        <div>
          <strong>€ {{ btrgMntl }},-- monatlich</strong>
        </div>
        <div>
          <strong>€ {{ btrgJrl }},-- jährlich</strong>
        </div>
      </div>
      <!-- <p class="control is-expanded ">
        Bei 3 oder mehr aktiven Mitgliedern einer Familie ermäßigt sich der monatliche Beitrag. Damit wir eine
        individuelle Absprache mit Ihnen treffen können, merken Sie dies bitte an.
      </p> -->
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label"></label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        Bei 3 oder mehr aktiven Mitgliedern einer Familie ermäßigt sich der monatliche Beitrag. Damit wir eine
        individuelle Absprache mit Ihnen treffen können, merken Sie dies bitte an.
      </p>
    </div>
  </div>
</div>
<div style="width:100%;justify-content: center;display:flex;margin-top:1rem;margin-bottom:1rem">
  <h2 class="title is-5">- Anmerkungen -</h2>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label"></label>
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
      </div>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <label class="label"></label>
  </div>
  <div class="field-body">
    <div class="field">
      <p class="control is-expanded ">
        <label class="checkbox">
          <input type="checkbox" [(ngModel)]="agree" />
          Bestimmungsgemäß gezahlte Beiträge und Gebühren werden grundsätzlich nicht zurückerstattet.
        </label>
      </p>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label">
    <!-- Left empty for spacing -->
  </div>
  <div class="field-body">
    <div class="field">
      <div class="control">
        <button [disabled]="!agree ? 'true' : ''" class="button is-primary">
          Send message
        </button>
      </div>
    </div>
  </div>
</div>
